*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image: url("images/background.jpg");
    color: #fff;
    padding: 10px;
}
.calculator{
    width: 100%;
    max-width: 700px;
    margin-left: 10%;
    margin-top: 10%;
}
.calculator h1{
    font-size: 60px;
}
.calculator h1 span{
    color: rgb(207, 135, 47);
}
.input-box{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255, 187, 0, 0.3);
    display: flex;
    align-items: center;
}
.input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}
.input-box button{
    background: #fff;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.input-box button:hover{
    background: #bda312;
}
.input-box input::-webkit-calendar-picker-indicator{
   top: 0;
   left: 0;
   right: 0;
   bottom: 0; 
   width: auto;
   height: auto;
   position: absolute;
   background-position: calc(100% - 10px);
   background-size: 30px;
   cursor: pointer;
}
#result{
    font-size: 20px;
}
#result span{
    color: #bda312;
}
@media only screen and (max-width: 600px){
    .container{
        width: 100%;
        min-height: 100vh;
        background-image: url("images/background.jpg");
        color: rgb(255, 255, 255);
        padding: 10px;  
}
.calculator{
    width: 80%;
    max-width: 700px;
    margin-left: 10%;
    margin-top: 50%;
}
.calculator h1{
    font-size: 40px;
}
.input-box{
    margin: 20px 0;
    padding: 25px;
    border-radius: 15px;
    background: rgba(255, 187, 0, 0.3);
    display: flex;
    align-items: center;
}
.input-box input{
    flex: 0;
    margin-right: 50px;
    padding: 9px 50px;
    border: 0;
    outline: 0;
    font-size: 8px;
    border-radius: 10px;
    position: relative;
}
.input-box button{
    background: #fff;
    border: 0;
    outline: 0;
    padding: 9px 5px;
    border-radius: 15px;
    margin-right: 0;
    margin-left: 15px;
    font-weight: 250;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 40px;
    cursor: pointer;
 }
 #result{
    font-size: 18px;
}
}